body {
	background-image: url("https://wallpaperaccess.com/full/8642963.gif");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }


  

