body {
	background-image: url("https://i.gifer.com/embedded/download/NY8Q.gif");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }


  

