body {
	background-image: url("https://cutewallpaper.org/21/anime-gif-wallpapers/Animated-Anime-Gif-Images-Background-Wallpaper.gif");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }


  

