/* BOTÃO DE PLAYER */
#playbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #33333346;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
  }

  
  #playpause {
      cursor: pointer;
      outline: none;
      border-radius: 15px;
      border-style: none;
      width: 70px;
      height: 40px;
  }
  
  #playpause:hover {
      background-color: #538ce0;
      outline: none;
  }


  .fa-volume-down,
  .fa-volume-up {
    cursor: pointer;
  }